body {
    background-color: #1A1A1D;
    color: #f0f0ff;
}

footer {
    background: rgb(26,26,29);
    background: linear-gradient(180deg, rgba(26,26,29,1) 3%, rgba(166,77,121,1) 7%, rgba(26,26,29,1) 12%, rgba(26,26,29,1) 63%);
}

.hero-div {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(26,26,29,1) 0%, rgba(125,74,107,1) 24%, rgba(69,12,50,1) 76%);
}

.hero-navbar {
    background: rgba(69,12,50,1);
}
  
.navbar {
    background: rgb(26,26,29);
    background: linear-gradient(0deg, rgba(26,26,29,1) 3%, rgba(166,77,121,1) 7%, rgba(26,26,29,1) 12%, rgba(26,26,29,1) 63%);
}

.navbar-navigation-ul li a {
    color:#f0f0ff;
}

.nav-left-arrow-div, .nav-right-arrow-div {
    background: rgb(7,15,43);
    background: radial-gradient(circle, rgba(7,15,43,1) 0%, rgba(7,15,43,1) 61%, rgba(166,77,121,1) 64%, rgba(7,15,43,1) 71%);
    color: #f0f0ff;
}
  
.nav-left-arrow-div:hover, .nav-right-arrow-div:hover {
    background: rgb(7,15,43);
    background: radial-gradient(circle, rgba(7,15,43,1) 0%, rgba(7,15,43,1) 61%, rgba(166,77,121,1) 64%, rgba(7,15,43,1) 71%);
    color: #f0f0ff;
} 
  
.nav-left-div label, .nav-right-div label {
    color: #f0f0ff;
}
  
.skills-ul li{
    background: rgb(89,36,74);
    background: linear-gradient(30deg, rgba(89,36,74,1) 18%, rgba(69,12,50,1) 40%, rgba(166,77,121,1) 79%);
}
  
.project-lan-ul li {
    background: rgb(89,36,74);
    background: linear-gradient(-30deg, rgba(89,36,74,1) 0%, rgba(69,12,50,1) 43%, rgba(166,77,121,1) 100%);
}
  
.project-article{
    background: #3B1C32;
}

.download-button, .preview-button {
    background-color: #1A1A1D;
    color: #f0f0ff;
}