@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  font-family: 'Poppins', serif !important;
  width: 100%;
  margin: 0 auto;
}

img {
  /* width: 100%; */
  display: block;
}

a {
  color: unset;
}

a:hover {
  color: unset;
}

button:hover {
  border-color: unset;
}

.GeneralPage, .ProjectPage, .ResumePage {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.desk-div {
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,37,79,1) 86%, rgba(104,87,133,1) 100%);

}

.desk-section {
  margin: 0 auto;
  /* padding-top: 30px; */
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 40px;
}

.desk-section article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-general-article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desk-profile-div {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.desk-profile-info-div {
  padding: 30px;
  text-align: center;
}

.main-monitor {
  align-self: flex-end;
}

.desk-profile-picture-div {
  display: flex;
  justify-content: center;
  align-items: center ;
}

.desk-profile-img {
  width: 100%;
  /* margin: 0 auto; */
}

.monitor-img {
  width: 100%;
  border: 15px solid black;
}



/* NavBar */

.navbar-container-div {
  position: sticky;
  top: 0;
  z-index: 100;
}

.hero-navbar-container-div {
  position: absolute;
  top: 0;
  z-index: 101;
}

.navbar, .hero-navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 5%;
}

.navbar-rightside-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-navigation-ul {
  list-style: none;
  display: flex;  
  gap: 20px;
}



.toggle-theme-div {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Nav Buttons */


.nav-left-div, .nav-right-div {
  width: 80px;
  top: 50%;
  position:fixed;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 0;
}

.nav-left-div label, .nav-right-div label {
  white-space: pre-line;
}

.nav-left-div {
  left: 0;
}

.nav-right-div {
  right: 0;
}

.nav-left-arrow-div, .nav-right-arrow-div {
  font-size: xxx-large;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Footer */

footer {
  margin-top: 50px;
  padding: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
}


/* Hero */
.hero-div {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.hero-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.hero-article {
  margin: 80px;
}

.hero-name {
  font-size: 70px;
}

.hero-project-calltoaction {
  padding-top: 100px;
}

.hero-img {
  width: 100%;
  border-radius: 15px;
}

.hero-project-button, .download-button, .preview-button {
  font-size: larger;
  border: 2px solid;
  padding: 5px;
  border-radius: 10%;
}

.scroll-down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.scroll-down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* About */

.about-section {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personal-about-div p {
  font-size: 25px;
  text-align: left;
}

.timeline-language-icon-div {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-language-icon {
  width: 35px;
}


.vertical-timeline-element-content {
  padding-top: 0 !important;
  margin: 0;
}



/* Skills */

.skills-ul, .project-lan-ul {
  list-style: none;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-ul li, .project-lan-ul li{
  border-radius: 50%;
}

.skills-ul li {
  padding: 50px;
  position: relative;
}

.skills-ul li img {
  width: 80px;
}

.langauge-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px; /* Optional for rounded corners */
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.skills-ul li:hover .langauge-overlay {
  opacity: 1;
}

.skills-ul li:hover img {
  opacity: 0.3;
}





/* Projects */
.projects-list-div {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.project-article{
  width: 450px;
  height: 550px;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.project-img-div {
  position: relative; 
  display: inline-block; 
}

.project-github {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1A1A1D;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}



.project-info-section {
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-display-div {
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
}


.project-info-div {
  width: 95%;
}

.project-spec-div {
  width: 95%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.project-lan-ul {
  justify-content: right;
  flex-wrap: nowrap;
}

.project-lan-ul li {
  padding: 12px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-lan-ul li img {
  width: 25px;
}

.project-github-img {
  width: 50px;
}

.project-github-btn img {
  /* position: absolute; */
  width: 28px
}

.preview-button {
  font-size: medium;
  text-wrap: nowrap;
  padding: 10px; 
  margin-right: 15px;
}

.project-preview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1000px;
}

.project-preview-loading {
  position: absolute;
  font-size: 65px;
  opacity: 0;
  z-index: 1;
  animation: l1 1s linear infinite alternate;
}

.project-preview-loading:before {
  content:"Loading..."
}

@keyframes l1 {to{opacity: 0}}

.project-preview-iframe {
  width: 1600px;
  height: 900px;
  z-index: 10;
}


/* Resume */
.resume-img-div {
  width: 1000px;
  margin: 0 auto;
}


/* Contact */
.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-list-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.method-contact-div {
  display: flex;
  justify-content: space-evenly;
}

.method-contact-div img {
  width: 100px;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 0;
}


@media (max-width: 2100px) {
  .project-preview-iframe {
    width: 1280px;
    height: 900px;
  } 
}

@media (max-width: 1700px) {
  .skills-ul li {
    padding: 40px;
  }
  
  .skills-ul li img {
    width: 60px;
  }
}

@media (max-width: 1600px) {
  .projects-list-div {
    grid-template-columns: 1fr;
  }

  .project-preview-iframe {
    width: 1000px;
    height: 900px;
  } 

  .resume-img-div {
    width: 800px;
  }
}

@media (max-width: 1300px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .hero-img {
    display: none;
  }

  .project-preview-section {
    display: none;
  }

  .about-section {
    grid-template-columns: 1fr;
  }

  
  .skills-ul li {
    padding: 30px;
  }
  
  .skills-ul li img {
    width: 50px;
  }

  .resume-img-div {
    width: 600px;
    margin: 0 auto;
  }
  
}

@media (max-width: 1170px) {
  .timeline-language-icon-div {
    height: 42px;
  }

  .timeline-language-icon {
    width: 25px;
  }

  .resume-img-div {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .nav-buttons-div {
    display: none;
  }

  .method-contact-div img {
    width: 80px;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .project-article{
    width: 350px;
    height: 450px;
    margin-top: 25px;
    padding: 15px;
  }

  .resume-img-div {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .method-contact-div img {
    width: 60px;
    padding: 20px;
  }

  .resume-img-div {
    width: 300px;
  }

  .project-article{
    width: 250px;
    height: 350px;
    margin-top: 25px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .project-article{
    margin-top: 25px;
    padding: 0;
  }
}